header {
  width: 100%;
  text-align: center;
  background-color: #284b63;
}

body {
  background-color: #d9d9d9;
  position: relative;
}

header, body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
.display-name{
  color: #ef8354;
}
.client-header {
  font-size: 25px;
  color: #202c39;
}

.trip-request-section {
  text-align: center;
}
/* Cards  */
.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr) 5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-area: 3 / 1 / 6 / 6;
  position: relative;
}

h4, h5 {
  margin: 10px;
}

.card {
  contain: content;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 10px;
  width: 140px;
  height: 230px;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  background: linear-gradient(-45deg, #284b63, #ef8354, #284b63, #284b63);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card-img {
  padding: 5px;
  height: 90px;

}

 .submit-login, .log-in-btn, .display-estimate, .book-trip-btn, .trip-request-btn {
font-size: 14px;
cursor: pointer;
background-color: #ffffff;
color: #455A64;
margin: 10px;
padding: 8px;
border-radius: 2px;
border: none;
}

 .submit-login:hover, .log-in-btn:hover, .display-estimate:hover, .book-trip-btn:hover, .trip-request-btn:hover  {
  background-color: #ef8354;
  color: #ffffff;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}



/* GENERAL ********************************************* */
.hidden {
  display: none;
}
